body {
  background-color: rgb(1, 137, 44);
  background-image: url(../images/cabecera.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
}

.carta {
  height: 250px;
  margin-left: -75px;
  position: relative;
  left: 75px;
}
